RewriteEngine On
RewriteBase /

# Allow access to robots.txt
RewriteRule ^robots\.txt$ - [L]

# Allow access to sitemap.xml
RewriteRule ^sitemap\.xml$ - [L]

# CodeIgniter rewrite rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
